*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    text-align: center;
    border: 4px solid rgb(28, 111, 117);
    background-color: beige;
}
.main{
    margin: 100px;
    padding:0;
    box-shadow: 5px 8px 5px 5px #888888;
    border-radius: 5px;
    background-color: rgb(76, 0, 255);
}
.background{
    background-image: url("l1.jpg");
}