*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    overflow-x: hidden;
    text-align: center;
    background-color: beige;
}
.main{
    margin: 20px;
    padding:0;
    box-shadow: 5px 8px 5px 5px #888888;
    border-radius: 5px;
    background-color: aliceblue;
}
