*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    overflow-x: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
.main{
    margin: 20px;
    padding:0;
    box-shadow: 5px 8px 5px 5px #888888;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
img{
   max-width: 100%;
    height: auto;
}
.price-list{
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.price-list h1{
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}
.price-list p{
    font-style: italic;
}
.price-list .prices{
    width: 100%;
}
.brand,.price{
    width: 50%;
    float: left;
}
.card-group{
    width: 100%;
}
.data{
    width:100%;
    border:1px solid rgb(0,0,0);
}